<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Tada\Shopback\Api\ShopbackCreateOrderInterface"
                type="Tada\Shopback\Model\ShopbackCreateOrderService" />

    <preference for="Tada\Shopback\Api\ShopbackValidateOrderInterface"
                type="Tada\Shopback\Model\ShopbackValidateOrderService" />
</config>
