<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cashback_tracking_save_after">
        <observer name="cashback_tracking_after_save_observer"
                  instance="Tada\Shopback\Observer\AfterCashbackTrackingSaveObserver" />
    </event>
    <event name="order_call_shopback_validate_request">
        <observer name="shopback_validate_order_observer"
                  instance="Tada\Shopback\Observer\ShopbackValidateOrderObserver" />
    </event>
</config>
